/*-------------reset------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*-------------------------------*/
body {
  font-family: "Poppins", Arial, sans-serif;
  color: #323232;
  overflow-x: hidden;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.none {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--fluid {
  max-width: unset;
  width: 100%;
}

.container--no-padding {
  padding: 0;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  margin-right: 5px;
}
.logo span {
  font-weight: 700;
  font-size: 24px;
}

.nav__row-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__row-list li {
  margin-right: 42px;
}
.nav__row-list li:last-child {
  margin-right: 0;
}
.nav__row-list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav__row-list a:hover {
  color: #F78434;
}
.nav__row-list a.menu--active {
  color: #F78434;
  font-weight: 700;
}

.nav__row-list-menu {
  top: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__row-list-menu.active {
  top: 0;
}

.nav__row-burger span {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.nav__row-burger:before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav__row-burger:after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav__row-burger {
  display: none;
}

.nav__row-burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.nav__row-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav__row-burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row-text {
  width: 485px;
}
.header__row-text p {
  margin-bottom: 1em;
}

.header__row-text-title {
  position: relative;
  z-index: 9;
  margin-right: -160px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
}

.header__row-img img {
  border-radius: 40px 40px 40px 0;
}

.header__row-form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-form {
  margin-top: 42px;
}

.form--active {
  -webkit-box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.5);
          box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.5);
}

.header__row-form-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 72px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__row-form-label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("../img/icon/mail.svg");
}

.header__row-form-label-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  padding: 17px 37px;
  border-radius: 29px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 700;
  background-color: #F78434;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: #ff6a00;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  font-size: 0;
}

.clients {
  padding-top: 100px;
  padding-bottom: 45px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects {
  padding-top: 80px;
  padding-bottom: 45px;
}

.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}
@media (max-width: 1495px) {
  .objects__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.objects__row-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects__row-img-holder {
  position: relative;
}

.objects__row-img-card {
  border-radius: 20px 20px 0px 20px;
}

.objects__row-img-card--rounded {
  border-radius: 20px;
  margin-right: 32px;
}

.objects__row-img-card-info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.objects__row-img-card-info-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.objects__row-img-card-info-holder-img {
  margin-right: 20px;
}

.objects__row-img-card-info-holder-text-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.objects__row-text {
  max-width: 374px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 155px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 170px;
}
.objects__row-text p + p {
  margin-top: 20px;
}

.objects__row-text-title {
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

.objects__row-button {
  margin-top: 40px;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta__block {
  background-color: #58BEBF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #FFFFFF;
}

.cta__block-img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border-radius: 0 20px 0 0;
}

.cta__block-text {
  width: 555px;
  padding-left: 95px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/icon/oval-bottom-left.svg") bottom left -186px no-repeat, url("../img/icon/oval-top-right.svg") right top no-repeat;
}

.cta__block-text-title {
  margin-bottom: 15px;
}

.cta__block-button {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.button--white {
  background-color: #fff;
  color: #323232;
}

.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: initial;
  background-repeat: no-repeat;
  background-image: url("../img/icon/play.svg");
}
.button--play:hover {
  color: #FFF;
  background-color: #323232;
}

.serve {
  padding-top: 0px;
  padding-bottom: 120px;
  position: relative;
}
.serve:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F6FA;
  top: -50%;
  left: 0;
  z-index: -1;
}

.serve__heading {
  color: #323232;
  margin-bottom: 45px;
  text-align: center;
}
.serve__heading .title {
  margin-bottom: 10px;
}

.serve__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.serve__row-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 118px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.serve__row-card:hover {
  background: #F78434;
  color: #fff;
}
.serve__row-card:hover .button {
  background-color: #fff;
  color: #F78434;
}
.serve__row-card:hover .serve__row-card-img {
  fill: #fff;
}

.serve__row-card-text {
  margin-bottom: 25px;
}

.serve__row-card-img {
  margin-bottom: 15px;
  fill: #F78434;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.benefits {
  padding-bottom: 110px;
}

.benefits__heading {
  padding-bottom: 60px;
  text-align: center;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.benefits__row-item {
  text-align: center;
}
.benefits__row-item:hover svg circle {
  fill: #F78434;
}
.benefits__row-item:hover svg path, .benefits__row-item:hover svg ellipse {
  fill: #fff;
}

.benefits__row-item-title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.5px;
}

.benefits__row-item-img {
  margin-bottom: 15px;
  display: inline-block;
}
.benefits__row-item-img circle {
  fill: rgba(88, 190, 191, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.benefits__row-item-img path, .benefits__row-item-img ellipse {
  fill: #58BEBF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__heading {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__title {
  max-width: 452px;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.testimonials__row:after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  top: -40px;
  right: -40px;
  background: url("../img/icon/design-element.svg");
  background-repeat: no-repeat;
}

.testimonials__row-card {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonials__row-card:hover {
  -webkit-box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.1);
}

.testimonials__row-card-btn-svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonials__row-card-btn-svg circle {
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonials__row-card-btn-svg path {
  fill: #F78434;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonials__row-card-btn-svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.testimonials__row-card-btn-svg:hover circle {
  fill: #F78434;
}
.testimonials__row-card-btn-svg:hover path {
  fill: #fff;
}

.testimonials__row-card-body {
  padding: 30px;
}

.testimonials__row-card-body-name {
  font-size: 18px;
  font-weight: 700;
}

.testimonials__row-card-body-city {
  color: #58BEBF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.testimonials__row-card:hover .testimonials__row-card-body-city {
  color: #F78434;
}

.testimonials__row-card-body-text {
  margin-bottom: 23px;
}

.testimonials__row-card-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: transparent;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  opacity: 0;
  display: block;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}
.testimonials__row-card:hover .testimonials__row-card-btn {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.testimonials__row-card-img-wrapper {
  position: relative;
}

.contacts {
  position: relative;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-image: url("../img/pic/bg-footer.svg");
  background-size: cover;
  color: #fff;
  padding-bottom: 55px;
}
.contacts:before {
  position: absolute;
  background-size: initial;
  content: "";
  display: block;
  width: 743px;
  height: 372px;
  bottom: 0;
  left: 50%;
  background-image: url("../img/icon/footer-oval.svg");
}
.contacts:after {
  margin-left: 79px;
  position: absolute;
  background-size: initial;
  content: "";
  display: block;
  width: 478px;
  height: 547px;
  bottom: 0;
  left: 50%;
  background-image: url("../img/pic/girl.png");
}

.contacts__info {
  max-width: 360px;
}

.contacts__info-btn {
  background-color: #fff;
  color: #000;
}
.contacts__info-btn:hover {
  color: #FFF;
  background-color: #323232;
}

.contact__info-text {
  margin-bottom: 30px;
  max-width: 342px;
}

.contact__info-title {
  margin-bottom: 15px;
}

.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__info {
  max-width: 300px;
}

.footer__info-logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__info-social img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__info-social a:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__nav-block-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

.footer__nav-block li {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
}
.footer__nav-block a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__nav-block a:hover {
  color: #F78434;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}